@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;400;500&display=swap');

body {
  font-family: 'Commissioner', 'Fira Sans', 'Source Sans Pro', 'Arial', sans-serif;
}
/* 'Fira Sans', 'Lora', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif */

/*h1 {
  font-family: 'Fira Sans'
}*/

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', 'Fira Code', 'Lucida Console', 'Monaco', monospace;
  font-size: 90%;
  font-weight: 400;
}
